<div class="card mb-4 box-shadow" *ngFor="let item of products">
  <img class="card-img-top" [src]="item.image" alt="Card image cap" />
  <div class="card-body">
    <p class="card-text">
       <strong>Price: {{ item.price | currency: "INR" }}</strong>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary primary">
         Add to Cart
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary secondary">
          View Deatails
        </button>
      </div>
    </div>
  </div>
</div>
